.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  background-color: #fff;
  width: 100vw;
  /* height: 90vh; */
  width: 80vw;
  /* max-height: 100vh;  */
  padding: 20px;
  border-radius: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* overflow: scroll; */
  /* position: relative;  */
  z-index: 1; /* Ensure modal is above overlay */
}

.custom-modal h2 {
  margin-top: 0;
}

.custom-modal p {
  margin-bottom: 20px;
}
.custom-modal button:disabled {
  pointer-events: none;
}
.custom-modal button {
  padding: 10px 20px;

  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto;
}

.custom-modal button:disabled {
  opacity: 0.5; /* Reduced opacity for disabled state */
}
.custom-modal button:hover {
  background-color: #005c89;
}
.choose-service-container {
  border: 1px solid #858489;
  border-radius: 5px;
}
.selected {
  color: #0077b6;
  border: 1px solid #0077b6;
}
