@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(240, 240, 240, 1);
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#btn-service {
  color: #0f5c94;
  background-color: transparent;
}

/* .logo2 {
  width: 80%;
} */
.round-phone {
  height: 50px;
  width: 50px;
}
.number-container div {
  color: rgba(2, 120, 189, 1);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.reach-us-heading {
  font-weight: 700;
  font-size: 1.3rem;
}

.career-tech {
  font-weight: 700;
}
.loation-career {
  font-size: 0.9rem;
}
.number-container span {
  font-size: 13px;
  margin-top: -4px;
  color: rgba(42, 42, 44, 1);
}
.career-img {
  height: 250px;
}
.careers-main-wrapper {
  font-family: Lato;
}

.career-para {
  font-size: 1.1rem;
  color: rgba(42, 42, 44, 1);
}
.icon-tech-career {
  height: 50px;
}
.career-reach-us {
  margin-top: 4em !important;
  background-image: linear-gradient(
    to bottom,
    rgba(61, 20, 120, 1),
    rgba(133, 12, 144, 1)
  );
  border-radius: 25px;
  color: rgba(255, 255, 255, 1);
}
.contact-career {
  font-size: 1.1rem;
}
.content-header {
  padding-bottom: 10px;
}
.icon-zoom {
  transition: transform 0.3s;
}
.icon-zoom:hover {
  transform: scale(1.2);
}
/* a.nav-link:first-child {
  margin-left: 0.5rem !important;
} */
/* Style the scrollbar track */
body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

/* Style the scrollbar track on hover */
body::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; /* Set the background color of the scrollbar track on hover */
}

/* Style the scrollbar thumb on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the scrollbar thumb on hover */
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.custom-modal-overlay {
  height: 100vh;
  overflow-y: auto;
  -webkit-scrollbar {
    width: 5px;
  }
}
.nav-container-main {
  margin-bottom: 4.5em;
}
.navbar-toggler {
  border: none;
}
.footer {
  background-color: white;
}
.footer a {
  color: #45494c !important;
}
.container-fluid {
  --bs-gutter-x: 0 !important;
}
.hover-color:hover {
  color: #03045e;
}

/* .carousel-item.prev {
  animation: slideOutLeft 0.5s forwards;
} */

.custom-navv {
  display: flex;
  flex: 1;
  justify-content: end;
}
/* Custom styles for the carousel */

.navbar {
  font-family: Lato;
  font-weight: 400;
  justify-content: space-between;
}
.nav-link {
  font-weight: 500 !important;
  color: #0a0909;
}
.nav-header {
  padding: 0;
}
.sub-logo-title {
  /* background: linear-gradient(to right, #f3831f, #0079ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* background: linear-gradient(to right, #f3831f, #377781, #0079ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500; */
  background-image: linear-gradient(
    to right,
    rgb(253, 118, 0),
    rgba(55, 119, 129, 1),
    rgba(0, 121, 186, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  font-family: Song Myung;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
  color: #047dd4 !important;
}
.navbar-nav {
  font-size: 1rem;
}
.nav-link:hover {
  color: #047dd4 !important;
}
.dropdown-item:hover {
  color: #047dd4 !important;
}
.dropdown-item:active,
.dropdown-item.active {
  background-color: transparent !important;
}

.nav-header-container,
.footer-container {
  font-family: "Song Myung";
  font-weight: 400;
  display: flex;
  text-align: end;
  line-height: 1;
  margin-top: 15px;
  span {
    font-size: 1rem;
    color: #3c3b3b;
  }
}
u {
  color: #4b494f;
}
.footer-main-wrapper {
  color: #45494c;
}
.footer-ul {
  padding-left: 10px;
}
.footer-content {
  font-family: Lato;
  div {
    font-weight: 600;
  }
  span {
    font-size: 10px;
    font-weight: 400;
  }
}
.footer-company {
  font-family: "Lato";
  font-weight: 700;
}
.footer-about,
.footer-blog {
  font-weight: 400;
  font-size: 1rem;
}
.border-color-custom {
  font-family: "Inknut Antiqua";
  border: 2px solid #0178be;
  width: 30px;
  height: 30px;
  color: #0178be !important;
}
.bottom-container {
  font-family: "Lato";
  font-weight: 400;
  background-color: #eae9e9;
  padding: 25px;
  margin-top: 25px;
}

.footer-middle-container,
.footer-contact {
  font-family: "Lato";
}
.and-symbol {
  font-family: Arial, sans-serif;
}
.instagram-icon {
  background: linear-gradient(
    30deg,
    #fec053 13.39%,
    #f2203e 37.33%,
    #b729a8 60.83%,
    #5342d6 86.61%
  );
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-footer {
  background-color: #3b5998;
}
.linkedin-footer {
  background-color: #007bb6;
}
.careers-main-wrapper {
  width: 90vw;
  margin: 100px auto;
  margin-bottom: 60px;
  font-size: 1.1rem;
  font-family: Lato;
  color: #2a2a2c;
  text-align: start;
}
.mail-careers {
  color: blue;
}
.tech-container {
  height: 100vh;
}
.tech-title {
  font-size: 1.1rem;
  color: #e58931 !important;
  font-family: Montserrat;
  margin: 20px 0;
  font-weight: 600;
}
.custom-tech2 img {
  width: 20px;
  height: 20px;
}
.custom-tech2-container {
  padding: 20px;
}
.next-gen {
  display: block;
  margin-left: auto;
  /* font-family: "Epilogue", sans-serif; */
}
.next-gen-content-container {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 8em;
  min-height: 90vh;
  font-family: "Epilogue", sans-serif !important;
  padding-bottom: 3em;
}

.next-gen-content {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 2em 3em;

  border: 5px solid transparent;
  /* border-image: linear-gradient(
      to right,
      rgba(15, 14, 14, 1),
      rgba(229, 229, 229, 0)
    )
    1; */
  border-image-slice: 20;
  border-radius: 10px; /* Apply 10px border radius to all corners */
}

.white {
  color: #ffffff;
}
.black {
  color: #000000;
  font-weight: 620;
}
.custom-font-75 {
  font-size: 3.6rem;
}
.custom-font-60 {
  font-size: 2.8rem;
}
.custom-font-28 {
  font-weight: 400 !important;
  font-size: 1.2rem;
}
.gradient-text {
  background: linear-gradient(90deg, #f38320 0%, #58c1d0 50%, #0178be 100%);
  -webkit-background-clip: text;
  background-clip: text;
  /* font-family: "Epilogue", sans-serif; */
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.custom-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
.custom-build {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1px;
}
.custom-clients p {
  width: 100vw;
  /* font-size: 14px; */
}
/* .quote-container div {
  width: 90vw !important;
} */
.box-tech {
  border-radius: 10px;
  width: 12em;
  height: 14em;
  /* padding: 20px 10px; */
  font-family: Montserrat;
  background-color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
}
.custom-clients p {
  color: #036198;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-clients span {
  color: #f38320;
  font-weight: 600;
  font-family: Montserrat;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/* .custom-tech-container {
  width: 100vw;
} */
.content-header {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #017abe, #044b75);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat;
}
.content-container2 {
  padding: 4em 0 !important;
}
.content-container2,
.content-container,
.content-para {
  font-family: Lato;
  color: #2a2a2c;
}
.what-we-do-container .content-para {
  font-size: 1.2rem;
}
.content-container2 {
  background: linear-gradient(to bottom, #3d1478, #850c90);
  /* border-radius: 10px; */
  width: 100% !important;
}
.custom-contact-div-mobile {
  display: none;
}

.content-container-p {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.4;
  color: #2a2a2c;
  margin: 0 auto;
}
.slider-container {
  width: 23em;
  height: 19em;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  animation: slideImages 4s infinite;
  border-radius: 10px;
}

@keyframes slideImages {
  0% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: left;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.about-container {
  margin-top: 3.5em;
  width: 90vw;
  font-family: Book Antiqua;
}
.custom-carousel-heading {
  text-align: left !important;
  font-family: Lato;
}
.about-p {
  width: 55vw;
  /* margin-top: 36px !important; */
  font-size: 1.1rem;
  font-family: Lato;
  color: #2a2a2c;
  text-align: start;
  text-align: justify;
  /* padding-top: 20px; */
}

/*  carousel*/
.scroll-container {
  width: 100%;
  font-family: Lato;
  overflow-x: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.custom-cards {
  display: flex;
  padding-left: 10px;
}

.custom-card {
  flex: 0 0 auto;
  width: 240px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #93eaf6;
  margin: 0 10px;
  transition: transform 0.2s;
  transform-origin: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: 0 2px 4px rgba(90, 125, 188, 0.05);
}
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}
.custom-card:hover {
  background-color: rgb(68, 234, 249);
  transform: scale(1.1);
}
.linkedIn-color {
  color: "#0A66C2" !important;
}
.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.card-header {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;

  color: #333; /* Change color as needed */
}
.scroll-container p {
  font-family: Lato;
  font-size: 14px;
}
.carousel-btn-right {
  margin-left: 3em;
}
.carousel-btn-left {
  margin-right: 3em;
}
.custom-corousel-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;
  background: #757879b0;
}
/* general styles */

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
.scroller__inner > img {
  mix-blend-mode: multiply;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 50s;
}
.scroller {
  overflow: hidden;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.custom-infyscroll-img {
  aspect-ratio: 3/2;
}
.close-icon {
  display: none;
}
.review-header {
  color: #036198;
  font-size: 1.5rem;
}
.review-header span {
  color: #f38320;
}

.custom-tech > img {
  width: 90px;
  margin: 8px 40px;
  mix-blend-mode: multiply;
}
.service-headers {
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5rem;
}
.service-paras {
  font-size: 1.1rem;
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  color: #4b494f;
  flex: 1;
}
.custom-service-img {
  flex: 0 0 auto;
}
.custom-contact {
  margin-top: 5rem;
  font-family: "Aref Ruqaa Ink";
  color: #ffffff;
}
.custom-contact p {
  font-size: 1.5rem;
  color: "red";
}
.contact-heading {
  font-size: 2rem;
}
.custom-icon-contact {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
}
.custom-contact input {
  width: 750px;

  font-size: 1.5rem;
}
.text-area-contact {
  height: 150px;
  resize: none;
  font-family: "Aref Ruqaa Ink";
  font-size: 1.5rem;
}
.icon-close-modal1 {
  color: #000000 !important;
  font-size: 27px;
}
.slideInRight {
  animation: slideInRight 0.5s forwards;
}

.slideInLeft {
  animation: slideInLeft 0.5s forwards;
}
.slide-carousel.slideInRight {
  transform: translateX(-100%); /* Slide in from the right */
}

.slide-carousel.slideInLeft {
  transform: translateX(100%); /* Slide in from the left */
}
.contact-close {
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #000000;
  margin-right: 50px;
  margin-top: 10px;
  display: grid;
  place-items: center;
  font-size: 25px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  /* Remove any transitions or animations */
  transition: none !important;
  animation: none !important;
}

/* .contact-close {
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #000000;
  margin-right: 50px;
  margin-top: 10px;
  display: grid;
  place-items: center;
  font-size: 25px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
} */
.custom-contact button {
  font-size: 1.4rem;
}
.custom-contact-container {
  opacity: 1;
  max-height: 1000px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #e5edf1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bb6;
}
.contact-custom-img {
  width: 35vw;
}
.nav-item {
  cursor: pointer;
}
.custom-learnmore-btn {
  background-image: linear-gradient(
    to right,
    rgba(30, 138, 200, 0.8) 0%,
    #02598c 100%
  );
  height: 38px;
  font-size: 0.9rem;
  width: 150px;
  padding-top: 2px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}
/* .custom-home-services {
  background-color: #e5edf1;
} */
.service-paras-home {
  font-size: 1.2rem;
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  color: #4b494f;
  text-align: left;
}
.custom-service-home {
  /* max-width: 700px; */
  width: 600px;
  padding-left: 1.2em;
  padding-top: 1.2em;
  height: 390px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #e5edf1;
}
.custom-services {
  background-color: #f2f3f4;
  /* margin-top: 80px; */
}
.custom-technologies {
  background-color: #eae9e9;
}

.carousel-btns {
  visibility: hidden;
}
.custom-img-slider {
  transition: height 0.5s ease;
  height: 0; /* Initial height */
  overflow: hidden;
}

.hovering {
  height: 100px; /* Set to the desired height */
}
.custom-img-slider {
  width: 600px;
  height: 390px;
  border-radius: 20px;
}

.custom-sliding-img {
  width: 300px;
  height: 300px;
}
.custom-carousel-nothover {
  width: 600px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .hover-info {
  width: 600px;
  height: 390px;
} */

.custom-about-header2 {
  display: block;
}

.service-img {
  width: 31.25em;
  height: 23em;
}

.custom-contact-main {
  font-family: Montserrat;
  background-color: #e5edf1;
  box-sizing: border-box;
  height: 100%;
  padding: 0 !important;
}

.custom-contact-main label {
  font-family: Montserrat;
  font-size: 0.9rem;
}
.custom-contact-info input {
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: Lato;
}
.custom-contact-info input::placeholder {
  font-size: 13px;
}
.contact-info-subDiv {
  margin-top: 6em;
  padding-left: 6em;
  width: 40%;
}
.custom-contact-info-success {
  background-color: green;
  color: white;
  height: 3em;
  font-family: montserrat !important;
  border-radius: 3px;
}
.custom-contact-info textarea {
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(8, 8, 8, 0.08) 0px 0px 0px 1px;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 2px solid #eaeaea;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 10px;
}
.custom-btn-contactinfo {
  letter-spacing: 5px;
  height: 3em;
  font-family: montserrat !important;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #0178be 100%, #26618b 100%);
}
.custom-error-contact {
  font-size: 0.7rem;
}
.footer-contact {
  height: 40vh;

  text-align: center;
}
.footer-contact p {
  color: #889198;
  max-width: 50vw;
}
.footer-contact-btn {
  border-radius: 20px;
  border: 1px solid #00aeef;
}
.love-text {
  color: #00aeef;
}
.errdiv {
  height: 15px;
  font-family: Lato;
}
.respect-span {
  color: #6f7a82;
  font-size: 0.9rem;
}
.lato {
  font-family: Lato;
}
.mont {
  font-family: Montserrat;
}
.quote-container p {
  color: #889198;
}
.service-page-container {
  padding: 20px 0;
}
.choose-service-container:hover {
  background-position: 0 0;
  color: white;
  background-color: #0077b6;
  cursor: pointer;
}

.custom-modal h2 {
  margin-left: 40px;
}
.custom-reference-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  margin-top: 4em;
  margin-bottom: 2em;
  background-color: transparent;
  overflow-wrap: break-word;
}
.exclamation-modal2,
.exclamation-modal1 {
  max-width: 300px;
  /* border: 1px solid gray; */
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  cursor: pointer;
  background-color: #f7fdff;
}
.satisfaction p {
  color: #000000 !important;
  font-weight: 500;
}
.satisfaction {
  background-color: #e2e6eb;
}
.custom-input-customer {
  outline: none;
  width: 20rem;
  background-color: transparent;
}
.cursor-pointer {
  cursor: pointer;
}
.custom-ouline-btn:disabled {
  opacity: 0.5 !important;
}
.custom-ouline-btn {
  background: none !important;
  border: 1px solid black !important;
  color: black !important;
  width: 150px !important;
  transition: background-color 0.9s;
  position: relative !important;
  overflow: hidden;
}
.custom-ouline-btn:hover {
  /* background-color: #000000 !important; */
  color: white !important;
}
.custom-ouline-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: #000 !important;
  z-index: -1;
  transition: 0.4s;
  border-radius: 0 25% 50% 25%;
}

.custom-ouline-btn:hover::before {
  width: 200%;
  height: 200%;
  right: 0;
  bottom: 0;
}
.thanks-container {
  height: 70vh;
}
.thanks-container h3 {
  background-image: linear-gradient(to right, #0178be 100%, #0f5c94 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.modal-close {
  margin: 0 !important;
  cursor: pointer;
}
.custom-about-header2 {
  margin-left: 30vw;
}
.custom-client-container {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}
.custom-scroll-infinity {
  width: 100vw;
}
.custom-project-type {
  width: 100vw;
}
.custom-modal-heading-quote span {
  background: linear-gradient(180deg, #0178be, #0f5c94);
  -webkit-background-clip: text;
  color: transparent;
}
.service-question {
  font-weight: 700;
}

.project-type-container {
  padding-bottom: 50px;
}
.custom-ouline-btn {
}
.card-body {
  /* padding: 10px 20px !important; */
  /* background-color: #8559b2 !important; */
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 30px;
  /* font-weight: 600; */
}
.find-us-on {
  text-align: left;
  /* padding-left: 10px; */
}
.content-container-p-mobile {
  display: none;
}
.custom-contact-mobile {
  display: none;
}
/* .about-container {
  margin: 30px 0;
} */
.content-container {
  margin-top: 1.4em !important;
}
.what-we-do-container {
  margin-top: 3.3em !important;
}
.custom-tech-container {
  margin-top: 3.3em !important;
}
/* .career-header1 {
  margin-top: 50px;
} */
@media only screen and (max-width: 600px) {
  .career-header1 {
    margin-top: 0 !important;
  }
  .custom-career-reachout {
    flex-direction: column !important;
    align-items: start;
    gap: 20px !important;
    margin-top: 1em !important;
  }
  .custom-career-reachout .reachout {
    display: flex !important;
    flex-direction: row !important;
  }
  .career-img {
    display: none;
  }
  .tech-icon-marge {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bottom-container {
    margin-top: 0 !important;
  }
  .sub-career-main {
    justify-content: start !important;
    align-items: start !important;
  }
  .number-container span {
    font-size: 14px;
    margin-top: -2px;
  }
  .tech-container-career {
    flex-direction: column;
    margin-top: 38px !important;
    gap: 20px !important;
  }
  .custom-tech-container {
    margin-top: 0 !important;
  }
  .what-we-do-container {
    margin-top: 0 !important;
  }
  .content-container {
    margin-top: 0 !important;
  }
  .custom-contact-div {
    display: none;
  }
  .custom-contact-mobile {
    display: block;
    max-width: 90vw;
  }
  .content-container-p {
    display: none;
  }
  .content-container-p-mobile {
    display: block;
    max-width: 95vw;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 1.4;
    color: #2a2a2c;
    margin: 0 auto;
  }

  .tech-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .close-icon {
    display: block;
  }
  .logo2 {
    width: 60%;
    padding-top: 10px;
  }
  .card-body {
    padding: 20px !important;
    /* height: 600px; */
    /* background-co   lor: #8bb231 !important; */
  }
  .custom-customer-form {
    gap: 7px !important;
  }
  .box-tech {
    width: 63vw;
    padding-left: 28px;
    padding-top: 28px;
  }
  .card {
    --bs-card-spacer-y: 1.5rem;
  }
  /* .carousel-inner {
    height: 46vh;
  } */
  .tech-container {
    height: 54vh;
  }
  .custom-customer-info {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .custom-modal-overlay {
    height: 100vh;
  }
  .custom-learnmore-btn img {
    height: 10px;
  }
  /* .project-type-container {
    padding-bottom: 80px;
  } */

  body {
    overflow-y: auto !important;
  }
  .exclamation-modal2,
  .exclamation-modal1 {
    margin-top: 6em;
    margin-left: 2.2em;
  }

  .modal-content {
    max-width: 100vh;
  }
  .contact-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }
  .about-container {
    margin: 0.5em 0;

    padding-bottom: 0 !important;
  }
  .what-we-do-container {
    padding: 0 !important;
  }
  .slider-container {
    margin-top: 2em;
  }
  .about-p {
    padding: 0 !important;
    margin-top: 2em !important;
    margin-bottom: 1.5em !important;
  }
  .satisfaction {
    gap: 25px;
  }
  .content-header {
    padding-bottom: 0 !important;
  }
  .contact-custom-img {
    display: none;
  }
  .meet-our-team {
    padding: 0 !important;
  }
  .custom-input-customer {
    /* width: 16rem; */
  }
  .custom-modal {
    width: 95vw !important;
    padding: 30px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #333333 #f1f1f1; /* For Firefox */
    -webkit-scrollbar {
      width: 5px; /* For Chrome, Safari, and Opera */
    }
    -webkit-scrollbar-track {
      background-color: #f1f1f1; /* For Chrome, Safari, and Opera */
    }
    -webkit-scrollbar-thumb {
      background-color: #333333; /* For Chrome, Safari, and Opera */
    }
  }
  .custom-modal-heading-sub {
    padding: 0 !important;
  }
  .custom-modal-heading-quote {
    font-size: 20px;
  }
  .service-question {
    margin-top: 20px !important;
  }
  .nav-container-main {
    margin-bottom: 2.5em;
  }
  .modal-close {
    margin: 0 !important;
  }
  .estimated-budget-section,
  .project-description-section {
    width: 90vw !important;
  }
  .social-section {
    width: 90vw;
  }
  .contact-info-subDiv {
    width: 100vw;
    margin-top: 3em;
    padding-left: 0 !important;
  }
  .custom-contact-main {
    /* width: 100vw; */
  }
  .custom-clients p {
    /* width: 100vw; */
    font-size: 14px;
  }
  .footer-contact {
    height: auto;
  }
  .what-we-do-container {
    /* margin-top: 3.5em; */
    padding: 0 !important;
  }
  /* .custom-contact-div {
    width: 90vw !important;
  } */

  .thanks-container {
    height: 50vh;
  }
  .custom-tech2 {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .custom-navv {
    justify-content: flex-start;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .custom-about-header3 {
    display: none;
  }
  .custom-about-header2 {
    display: block;
    margin: 20px 0;
    margin-left: 0 !important;
  }
  .custom-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .custom-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
  }
  .about-p {
    width: 90vw;
    /* text-align: center; */
  }

  .content-container {
    margin-top: 1em !important;
  }
  .footer {
    width: 100vw;
    padding-top: 10px;
  }
  .footer-main-wrapper {
    flex-direction: column;
    text-align: left;
    padding-top: 0 !important;
  }
  .footer-content {
    margin-top: 1.5em !important;
  }
  .footer-sub-wrapper {
    padding-bottom: 10px;
  }
  .custom-footer-menus {
    flex-direction: column;
    text-align: left;
    margin: 0 0;
    gap: 0 !important;
  }
  .custom-img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 12.5em;
  }
  .custom-carousel-heading {
    font-size: 0.7rem;
  }
  .custom-sliding-img {
    width: 120px;
    height: 120px;
    margin-top: 2em;
  }
  .custom-carousel-nothover {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hover-info {
    /* width: 12.5em; */
    height: 12.5em;
  }
  .service-sub-container {
    padding: 0 !important;
  }
  .service-headers {
    font-size: 0.8rem;
    /* padding-left: 0 !important; */
    padding-bottom: 20px !important;
  }
  .service-headers1 {
    text-align: center;
    font-size: 1.2rem;
  }
  .project-type-container {
    padding-bottom: 10px !important;
  }

  .service-paras-home {
    font-size: 0.6rem;
    line-height: 10px;
    padding: 0 !important;
  }

  /* .carousel-btn-right {
    margin-right: 1em;
  } */
  .custom-learnmore-btn {
    height: 18px;
    font-size: 0.5rem;
    width: 90px;
    padding-top: 1px;
    border-radius: 30px;
    margin: 30px 0 !important;
    font-family: Lato;
  }
  .custom-corousel-btn {
    height: 30px;
    width: 30px;
  }
  .next-gen-content {
    padding: 1em 2em;
  }
  .next-gen-content-container {
    justify-content: center;
    margin: 0;
    align-items: center;
    padding: 0;
    padding-bottom: 6.5em;
  }
  .custom-font-75 {
    font-size: 2rem;
  }
  .custom-font-60 {
    font-size: 1.5rem;
  }
  .custom-font-28 {
    font-size: 0.6rem;
  }
  .content-container2 {
    /* width: 90vw; */
    text-align: start;
    margin-bottom: 2em;
  }
  .content-container-p {
    width: 100%;
  }
  .content-container {
    margin: 0px 0;
    /* padding: 2.5em; */
  }
  .custom-img-slider {
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
  }
  .custom-service-home {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px !important;
  }
  .slider-container {
    width: 90vw;
    align-items: center;
  }
  .scroller__inner {
    overflow: hidden;
  }
  .scroll-container {
    overflow-x: hidden;
    padding-top: 1em !important;
  }
  /* .quote-container {
    margin-bottom: 1em;
  } */
  .custom-card {
    overflow-x: hidden;
  }
  .scroll-container {
    overflow-x: auto;
  }
  .service-img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    padding: 0 !important;
    object-fit: contain;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    text-align: justify;
  }
  .quote-container p {
    text-align: justify !important;
  }
  /* .service-container img {
  } */
  .custom-services {
    padding: 0 !important;
  }
  .nav-header {
    font-size: 0.9rem !important;
  }
  .custom-nav {
    justify-content: space-between;
  }
  .custom-navv {
    flex: none !important;
  }
  .custom-nav img {
    width: 20vw;
  }
  .nav-header-container {
    display: flex;
    flex-direction: column;
    width: 122px;
  }
  .nav-header-container,
  .footer-container {
    line-height: 1;
    margin-top: 15px;
    p {
      font-size: 0.4rem;
      color: linear-gradient(to right, #f3831f, #43a4af, #007ab9) !important;
    }
  }
  /* nav {
    flex-direction: row-reverse;
  } */
  .slide-className {
    justify-content: space-evenly !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .next-gen-content-container {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .custom-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-p {
    width: 90vw;
    font-size: 1.5rem;
  }
  .content-container-p {
    max-width: 95vw;
  }
  .slider-container {
    width: 70vw;
    height: 30vh;
    align-items: center;
  }
  .custom-about-header3 {
    display: none;
  }
  .custom-about-header2 {
    display: block;
    font-size: 2rem;
  }
  .custom-font-75 {
    font-size: 4.3rem;
  }
  .custom-font-60 {
    font-size: 3.3rem;
  }
  .custom-font-28 {
    font-size: 2rem;
  }
  .tech-container {
    height: 60vh;
  }
}
