@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.custom-navv {
  display: flex;
  flex: 1;
  justify-content: end;
}

.navbar {
  font-family: Lato;
  font-weight: 400;
  justify-content: space-between;
}
.nav-link {
  color: #0a0909;
}
.nav-header {
  padding: 0;
}
.sub-logo-title {
  /* background: linear-gradient(to right, #f3831f, #0079ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(to right, #f3831f, #377781, #0079ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: Song Myung;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
  color: #047dd4 !important;
}
.navbar-nav {
  font-size: 1rem;
}
.nav-link:hover {
  color: #047dd4 !important;
}
.dropdown-item:hover {
  color: #047dd4 !important;
}
.dropdown-item:active,
.dropdown-item.active {
  background-color: transparent !important;
}

.nav-header-container,
.footer-container {
  font-family: "Song Myung";
  font-weight: 400;
  display: flex;
  text-align: end;
  line-height: 1;
  margin-top: 15px;
  span {
    font-size: 1em;
    color: #3c3b3b;
  }
}
u {
  color: #4b494f;
}
.footer-main-wrapper {
  color: #45494c;
}
.footer-ul {
  padding-left: 10px;
}
.footer-content {
  font-family: Lato;
  div {
    font-weight: 600;
  }
  span {
    font-size: 10px;
    font-weight: 400;
  }
}
.footer-company {
  font-family: "Lato";
  font-weight: 700;
}
.footer-about,
.footer-blog {
  font-weight: 400;
  font-size: 1em;
}
.border-color-custom {
  font-family: "Inknut Antiqua";
  border: 1px solid #0178be;
  width: 30px;
  height: 30px;
}
.bottom-container {
  font-family: "Inknut Antiqua";
  font-weight: 400;
  background-color: #eae9e9;
  padding: 25px;
}

.footer-middle-container,
.footer-contact {
  font-family: "Lato";
}
.and-symbol {
  font-family: Arial, sans-serif;
}
.instagram-icon {
  background: linear-gradient(
    30deg,
    #fec053 13.39%,
    #f2203e 37.33%,
    #b729a8 60.83%,
    #5342d6 86.61%
  );
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-footer {
  background-color: #3b5998;
}
.linkedin-footer {
  background-color: #007bb6;
}

.tech-container {
  height: 85vh;
}
.tech-title {
  font-size: 1.2rem;
  color: #e58931 !important;
  font-family: Montserrat;
  margin: 20px 0;
}
.custom-tech2 img {
  width: 20px;
  height: 20px;
}
.custom-tech2-container {
  padding: 20px;
}
.next-gen {
  display: block;
  margin-left: auto;
  font-family: "Epilogue", sans-serif;
}
.next-gen-content-container {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 9em;
  min-height: 82vh;
  padding-bottom: 4.5em;
  border-radius: 10px;
}

.next-gen-content {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-image-source: linear-gradient(116.38deg, #0f0e0e 0%, #e5e5e5 100%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: 2em 4em;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
  font-weight: 620;
}
.custom-font-75 {
  font-size: 3.6rem;
}
.custom-font-60 {
  font-size: 2.8rem;
}
.custom-font-28 {
  font-size: 1.2rem;
}
.gradient-text {
  background: linear-gradient(90deg, #f38320 0%, #58c1d0 50%, #0178be 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Epilogue", sans-serif;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.custom-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
.custom-build {
  font-size: 1.5rem;
  color: white;
}
.custom-clients p {
  width: 100vw;
  /* font-size: 14px; */
}
/* .quote-container div {
  width: 90vw !important;
} */
.box-tech {
  border-radius: 10px;
  width: 12em;
  height: 9em;
  font-family: Montserrat;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.custom-clients p {
  color: #036198;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-clients span {
  color: #f38320;
  font-family: Montserrat;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.content-header {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #017abe, #044b75);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat;
}
.content-container2,
.content-container,
.content-para {
  font-family: Lato;
  color: #2a2a2c;
}
.content-container2 {
  background: linear-gradient(to bottom, #3d1478, #850c90);
  border-radius: 10px;
}

.content-container-p {
  max-width: 38vw;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  line-height: 1.4;
  color: #2a2a2c;
  margin: 0 auto;
}
.slider-container {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  animation: slideImages 4s infinite;
  border-radius: 10px;
  margin-top: 65px;
}

@keyframes slideImages {
  0% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: left;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.about-container {
  margin-top: 4em;
  width: 90vw;
  font-family: Book Antiqua;
}
.custom-carousel-heading {
  font-family: Lato;
}
.about-p {
  width: 55vw;
  font-size: 1.1rem;
  font-family: Lato;
  color: #2a2a2c;
  text-align: start;
  padding-top: 20px;
}

/*  carousel*/
.scroll-container {
  width: 100%;
  font-family: Lato;
  overflow-x: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.custom-cards {
  display: flex;
  padding-left: 10px;
}

.custom-card {
  flex: 0 0 auto;
  width: 240px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #93eaf6;
  margin: 0 10px;
  transition: transform 0.3s;
  transform-origin: center;
  box-sizing: border-box;
}
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}
.custom-card:hover {
  background-color: rgb(68, 234, 249);
  transform: scale(1.1);
}
.card-img {
  width: 182px;
  height: 182px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.card-header {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;

  color: #333; /* Change color as needed */
}
.scroll-container p {
  font-family: Lato;
  font-size: 14px;
}
.carousel-btn-right {
  margin-left: 3em;
}
.carousel-btn-left {
  margin-right: 3em;
}
.custom-corousel-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;
  background: #757879b0;
}
/* general styles */

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 80s)
    var(--_animation-direction, forwards) linear infinite;
}
.scroller__inner > img {
  mix-blend-mode: multiply;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 50s;
}
.scroller {
  overflow: hidden;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.custom-infyscroll-img {
  aspect-ratio: 3/2;
}
.review-header {
  color: #036198;
  font-size: 1.5rem;
}
.review-header span {
  color: #f38320;
}

.custom-tech > img {
  width: 90px;
  margin: 8px 40px;
  mix-blend-mode: multiply;
}
.service-headers {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.5rem;
}
.service-paras {
  font-size: 1.1rem;
  font-family: "Aref Ruqaa Ink";
  font-weight: 400;
  line-height: 30px;
  color: #4b494f;
  flex: 1;
}
.custom-service-img {
  flex: 0 0 auto;
}
.custom-contact {
  margin-top: 5rem;
  font-family: "Aref Ruqaa Ink";
  color: #ffffff;
}
.custom-contact p {
  font-size: 1.5rem;
  color: "red";
}
.contact-heading {
  font-size: 2rem;
}
.custom-icon-contact {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
}
.custom-contact input {
  width: 750px;

  font-size: 1.5rem;
}
.text-area-contact {
  height: 150px;
  resize: none;
  font-family: "Aref Ruqaa Ink";
  font-size: 1.5rem;
}

.contact-close {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: #e5edf1; */
  border: 2px solid gray;
  margin-right: 50px;
  margin-top: 10px;
  display: grid;
  place-items: center;
  font-size: 25px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  border-radius: 50%;
}
.custom-contact button {
  font-size: 1.4rem;
}
.custom-contact-container {
  opacity: 1;
  max-height: 1000px;
}
/* .modal-overlay2 {
  position: fixed;
  margin: 10px 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.modal-content2 {
  border-radius: 5px;
  position: relative;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-overlay::-webkit-scrollbar {
  display: none;
}

.modal-content {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #e5edf1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bb6;
}
.customImg {
  /* margin: 0 !important; */
}
.contact-custom-img {
  width: 35vw;
}
.nav-item {
  cursor: pointer;
}
.custom-learnmore-btn {
  background-image: linear-gradient(
    to right,
    rgba(30, 138, 200, 0.8) 0%,
    #02598c 100%
  );
  height: 38px;
  font-size: 0.9rem;
  width: 150px;
  padding-top: 2px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}
.custom-home-services {
  background-color: #e5edf1;
}
.service-paras-home {
  font-size: 1.2rem;
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  color: #4b494f;
  text-align: left;
}
.custom-service-home {
  max-width: 700px;
  border-radius: 9px;
  background-color: #e5edf1;
}
.custom-services {
  background-color: #f2f3f4;
  margin-top: 80px;
}
.custom-technologies {
  background-color: #eae9e9;
}

.carousel-btns {
  visibility: hidden;
}
.custom-img-slider {
  max-width: 600px;
  height: 390px;
  border-radius: 20px;
}
.custom-sliding-img {
  width: 300px;
  height: 300px;
}
.custom-carousel-nothover {
  width: 469px;
  height: 297px;
}
.hover-info {
  width: 600px;
  height: 390px;
}
.custom-about-header2 {
  display: block;
}

.service-img {
  width: 31.25em;
}

.custom-contact-main {
  font-family: Montserrat;
  background-color: #e5edf1;
  overflow-y: hidden !important;
  box-sizing: border-box;
  height: 100%;
  /* margin-top: 200px; */
  padding: 0 !important;
  /* color: white; */
}

.custom-contact-main label {
  font-family: Montserrat;
  font-size: 0.9rem;
}
.custom-contact-info input {
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: Lato;
}
.custom-contact-info input::placeholder {
  font-size: 13px;
}
.contact-info-subDiv {
  margin-top: 6em;
  padding-left: 6em;
  width: 40%;
}
.custom-contact-info textarea {
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(8, 8, 8, 0.08) 0px 0px 0px 1px;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 2px solid #eaeaea;
  font-size: 13px;
  padding-left: 10px;
}
.custom-btn-contactinfo {
  letter-spacing: 5px;
  height: 3em;
  font-family: montserrat !important;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #0178be 100%, #26618b 100%);
}
.custom-error-contact {
  font-size: 0.7rem;
}
.footer-contact {
  /* width: 100vw; */
  height: 40vh;

  text-align: center;
}
.footer-contact p {
  color: #889198;
  max-width: 50vw;
}
.footer-contact-btn {
  border-radius: 20px;
  border: 1px solid #00aeef;
}
.love-text {
  color: #00aeef;
}
.errdiv {
  height: 15px;
  font-family: Lato;
}
.respect-span {
  color: #6f7a82;
  font-size: 0.9rem;
}
.lato {
  font-family: Lato;
}
.mont {
  font-family: Montserrat;
}
.quote-container p {
  color: #889198;
}
/* .design-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
} */
.water-fill-btn {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  overflow: hidden;
  font-weight: bold;
  transition: color 0.5s ease-out;
  cursor: pointer;
}

.water-fill-btn::before {
  content: "Design A Quote";
  /* position: absolute; */
  /* text-align: center; */
  color: black;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 1; */
}

/* .water-fill-btn::after {
  content: "Design A Quote";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #0077b6;
  color: white !important;
  transition: height 0.5s ease-out;
  overflow: hidden;
} */

.water-fill-btn:hover {
  color: white !important;
}

.water-fill-btn:hover::after {
  height: 100%;
}

.water-fill-btn::after::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  animation: waves 1s linear infinite;
}
.choose-service-container:hover {
  color: white;
  background-color: #0077b6;
}
@keyframes waves {
  0% {
    transform: translate3d(-25%, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(25%, 0, 0) rotate(360deg);
  }
}
.custom-modal h2 {
  margin-left: 40px;
}
.custom-reference-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  margin-top: 4em;
  margin-bottom: 2em;
  overflow-wrap: break-word; /* Allow text to break onto the next line */
}
.exclamation-modal2,
.exclamation-modal1 {
  max-width: 300px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}
.satisfaction {
  background-color: #e2e6eb;
}
.custom-input-customer {
  outline: none;
}
.custom-ouline-btn {
  background: none !important;
  border: 1px solid black !important;
  color: black !important;
  width: 150px !important;
}
.thanks-container {
  height: 70vh;
}
.thanks-container h3 {
  background-image: linear-gradient(to right, #0178be 100%, #0f5c94 100%);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 600px) {
  body {
    /* overflow-x: hidden; */
    /* overflow-y: hidden !important; */
  }
  .custom-clients p {
    /* width: 100vw; */
    font-size: 14px;
  }
  .footer-contact {
    height: auto;
  }

  .quote-container div {
    width: 90vw !important;
  }
  .custom-tech2 {
    gap: 15px;
  }
  .custom-navv {
    justify-content: flex-start;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .custom-about-header3 {
    display: none;
  }
  .custom-about-header2 {
    display: block;
  }
  .custom-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .custom-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
  }
  .about-p {
    width: 90vw;
    /* text-align: center; */
  }
  .content-container-p {
    max-width: 95vw;
  }
  .footer {
    width: 100vw;
  }
  .footer-main-wrapper {
    flex-direction: column;
    text-align: left;
  }
  .footer-sub-wrapper {
    padding-bottom: 10px;
  }
  .custom-footer-menus {
    flex-direction: column;
    text-align: left;
    margin: 0 0;

    gap: 0 !important;
  }
  .custom-img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vw;
  }
  .custom-carousel-heading {
    font-size: 0.7rem;
  }
  .custom-sliding-img {
    width: 120px;
    height: 100px;
  }
  .custom-carousel-nothover {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hover-info {
    width: 240px;
    height: 200px;
  }
  .service-headers {
    font-size: 0.8rem;
  }
  .service-headers1 {
    text-align: center;
    font-size: 1.2rem;
  }
  .service-paras-home {
    font-size: 0.6rem;
    line-height: 10px;
    padding: 0 !important;
  }

  /* .carousel-btn-right {
    margin-right: 1em;
  } */
  .custom-learnmore-btn {
    height: 18px;
    font-size: 0.5rem;
    width: 90px;
    padding-top: 1px;
    border-radius: 30px;
    margin: 30px 0 !important;
    font-family: Lato;
  }
  .custom-corousel-btn {
    height: 30px;
    width: 30px;
  }
  .next-gen-content-container {
    justify-content: center;
    margin: 0;

    padding: 0;
    padding-bottom: 100px;
  }
  .custom-font-75 {
    font-size: 2rem;
  }
  .custom-font-60 {
    font-size: 1.5rem;
  }
  .custom-font-28 {
    font-size: 0.6rem;
  }
  .content-container2 {
    width: 90vw;
    text-align: start;
  }
  .content-container-p {
    width: 100%;
  }
  .custom-img-slider {
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
  }
  .custom-service-home {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px !important;
  }
  .slider-container {
    width: 90vw;
    align-items: center;
  }
  .scroller__inner {
    overflow: hidden;
  }
  .scroll-container {
    overflow-x: hidden;
  }
  .custom-card {
    overflow-x: hidden;
  }
  .scroll-container {
    overflow-x: auto;
  }
  .service-img {
    width: 300px;
    margin-bottom: 20px;
    padding: 0 !important;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  .custom-services {
    padding: 0 !important;
  }
  .nav-header {
    font-size: 0.9em !important;
  }
  .custom-nav {
    justify-content: space-between;
  }
  .custom-navv {
    flex: none !important;
  }
  .custom-nav img {
    width: 10vw;
  }
  .nav-header-container {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    width: 122px;
  }
  .nav-header-container,
  .footer-container {
    line-height: 1;
    margin-top: 15px;
    p {
      font-size: 0.4em;
      color: linear-gradient(to right, #f3831f, #43a4af, #007ab9) !important;
    }
  }
  nav {
    flex-direction: row-reverse;
  }
  .slide-carousel {
    justify-content: space-evenly !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .next-gen-content-container {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .custom-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-p {
    width: 90vw;
    font-size: 1.5rem;
    /* text-align: center; */
  }
  .content-container-p {
    max-width: 95vw;
  }
  .slider-container {
    width: 70vw;
    height: 30vh;
    align-items: center;
  }
  .custom-about-header3 {
    display: none;
  }
  .custom-about-header2 {
    display: block;
    font-size: 2em;
  }
  .custom-font-75 {
    font-size: 4.3rem;
  }
  .custom-font-60 {
    font-size: 3.3rem;
  }
  .custom-font-28 {
    font-size: 2rem;
  }
  .tech-container {
    height: 60vh;
  }
}
